.navbar {
  width: 100%;
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
}

.nav-logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-search {
  display: flex;
  align-items: center;
  max-width: 2300px; /* 搜索区域最大宽度 */
  width: 100%;
}

.nav-search input {
  flex: 1;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  max-width: 2000px; /* 输入框最大宽度 */
}
.nav-search button {
  padding: 8px 15px;
  background: #febd69;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 40px;
  font-size: 16px;
}
